# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs
venv/

# Diretórios de imagens processadas
imagens_convertidas/

# IDE
.vscode/
.idea/

# Logs e databases
*.log
*.sqlite

# Arquivos temporários
*.tmp
*.bak
